{
	email {$CADDY_EMAIL:admin@example.com}
}

www.{$APP_DOMAIN:localhost} {
	redir https://{$APP_DOMAIN:localhost}{uri} permanent
}

{$APP_DOMAIN:localhost} {
	encode gzip

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /docs* {
		reverse_proxy backend:8000
	}

	handle /openapi.json {
		reverse_proxy backend:8000
	}

	handle /health {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
